* {margin: 0; padding: 0;}
header, nav, section, article, aside, footer {display: block;}
html {background: url(images/bottombg.gif) 0 100% repeat-x;}
body {
	font: 16px/18px BlackChancery;
	color: #555000;
	width: 960px;
    border: 1px solid #333000;
    border-width: 4px 0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

a {
	color: #333000;
	outline: none;
}

a:hover { color: #F75700;}

p {margin: 0 0 18px;}

img {border: none;}
img.alignleft {margin: 5px 15px 5px 0;}
img.alignright {margin: 5px 0 5px 15px;}
img.aligncenter {
    text-align: center;
    padding-bottom: 20px;
}

blockquote {
	margin: 0 0 18px 20px;
	padding: 1px 12px;
	background: #F2F2F2;
	border-left: 3px solid #E1E1E1;
}

blockquote p {
	padding: 8px 0;
	margin: 0;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.nomo_deviceid_form {
    display: none;
}


.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {float: left;}
.alignright {float: right;}


#wrapper {
	width: 960px;
	text-align:left;
    border: 1px solid #E1E1E1;
}

/* Header
-----------------------------------------------------------------------------*/

header {
	height: 175px;
	position: relative;
    background: #F2F2F2 url(images/TBSLogo.jpg) 0 24px repeat-x;
}

#top {
	height: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
    text-align: right;
	overflow: hidden;
}

#description {
	position: absolute;
	top: 110px;
	right: 10px;
	width: 600px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
	color: #bf700e;
    text-align: right;
	text-shadow: 1px 1px 0 #3e3e3e;
}

#sandboxname {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 900px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #5469fd;
    text-align: left;
    text-shadow: 1px 1px 0 #3e3e3e;
}


header nav {
	position: absolute;
	top: -4px;
	right: 0;
	height: 26px;
	background: #ccccc9;
    font: 14px/1 Tahoma, Arial;
    text-transform: uppercase;
    border-width: 0 1px 1px;
    border-top: 4px solid #ccccc9;
	overflow: hidden;
}

header nav li {
	float: left;
	list-style: none;
    border-left: 1px solid #E9E9E9;
    margin-left: -1px;
}

header nav a {
	float: left;
	color: #333000;
    text-decoration: none;
	padding: 7px 10px 6px;
    border-bottom: 3px solid #F0EFEF;
}

/* Middle
-----------------------------------------------------------------------------*/

section {
	width: 959px;
	background: #ccccc9 url(images/contentbg.gif) repeat-y;
}

section:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

#container {
	width: 100%;
	float: left;
	overflow: hidden;
}

#content {
    margin-top: 0;
    margin-right: 199px;
    margin-left: 199px;
    margin-bottom: 0;
    padding: 15px 15px 1px;
    border-width: 0 1px;
	height: 100%;
}

#contentFull {
    margin: 0 199px;
    padding: 15px 15px 1px;
    border-width: 0 1px;
    height: 1%;
}

#content h2 {
	font: 24px/1 Arial, Tahoma;
	margin: 0 0 18px;
	color: #333000;
}

#content h2 a {
	color: #333000;
	text-decoration: none;
	text-shadow: 2px 1px 2px #3e3e3e;
}

#content h2 a:hover {
	color: #F75700;
	text-decoration: underline;
	text-shadow: none;
}

#content .entry h2,
#content .entry h3,
#content .entry h4,
#content .entry h5,
#content .entry h6 {
	font: 24px/1 Arial, Tahoma;
	margin: 25px 0 18px;
	color: #333000;
	text-shadow: 2px 1px 2px #6f8ec2;
}

#content .entry h3 {font-size: 22px;}

#content .entry h4 {font-size: 20px;}

#content .entry h5 {font-size: 18px;}

#content .entry h6 {font-size: 16px;}

#content h3 {
	color: #333;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
	text-shadow: 2px 1px 2px #6f8ec2;
	margin: 0 0 28px;
}

.Button {
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:2px 10px; /*add some padding to the inside of the button*/
	background: #3a86ba; /*the colour of the button*/
	border:1px solid #335eba; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color: #ffffff;
	font-size:1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
.Button:hover, .Button:focus{
	background-color : #1bbf6a; /*make the background a little darker*/
	border:1px solid #179c5a;
	/*reduce the drop shadow size to give a pushed button effect*/
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0, .75);
	-moz-box-shadow: 2px 2px 1px rgba(0,0,0, .75);
	box-shadow: 2px 2px 1px rgba(0,0,0, .75);
	color: #ffffff;
}

.Search{
	background: #21bab4; /*the colour of the button*/
	border:1px solid #20a29c; /*required or the default border for the browser will appear*/

}

.Delete{
	background: #ec382b; /*the colour of the button*/
	border:1px solid #b62e24; /*required or the default border for the browser will appear*/

}

.Suspend{
	background: #cd993a; /*the colour of the button*/
	border:1px solid #a87c32; /*required or the default border for the browser will appear*/

}

/* Sidebars
-----------------------------------------------------------------------------*/

aside {
	float: left;
	width: 199px;
	position: relative;
    font-size: 14px;
	background: #F9F9F9;
}

#left {
	margin-left: -100%;
}

#right {
	margin-left: -20px;
	background: #FCFAF1;
}

aside h3 {
	line-height: 35px;
	color: #70AD18;
    font-size: 14px;
    text-transform: uppercase;
	text-shadow: 1px 1px 1px #6f8ec2;
	height: 35px;
    padding-left: 10px;
}
aside h4 {
    padding-left: 10px;
}


aside#right h3 {
	color: #F56200;
}

aside li {
    border-top: 1px solid #E5E5E5;
	color: #6E7761;
	padding: 4px 6px 5px 22px;
}

aside a {
	color: #6E7761;
    text-decoration: none;
}

.section {
	padding: 0 0 5px;
}

.inner {
	margin: 5px 5px 0;
    border: 1px solid #E5E5E5;
	overflow: hidden;
}

.adspace {
	text-align: center;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {

    border-width: 1px 1px 0 0;
	background: #F2F2F2;
    font-size: 11px;
}

#copyright {
	font: 10px/16px Tahoma, Arial;
    text-align: right;
	color: #333000;
	padding: 22px 10px 0 0;
}

#copyright span {
	display: block;
    text-transform: uppercase;
}

#copyright a {
	color: #6E7761;
    text-decoration: none;
}

#copyright a:hover { color: #F75700;}
